* {
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    cursor: url("./assets/cursor-ball.svg"), auto;
}

/* Section Styling */
/* Section Styling */
.section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all .5s ease-out, transform 0.5s ease-out;
    transform: translateY(100vh); /* Inactive sections start below the viewport */
    z-index: 1;
}

.section.active {
    opacity: 1;
    transition: transform 2.5s ease;
    transform: translateY(0); /* Active section slides up to cover */
    z-index: 2;
}

.section.instant-active {
    opacity: 1;
    transition: none; /* Disable transition */
    transform: translateY(0); /* Instantly position at the top */
    z-index: 2;
}

/* Menu Button */
.menu-button {
    font-size: 45px;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    color: gold;
    text-decoration: underline black;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 1000;
}
.menu-button:hover {
    color: black;
    text-decoration: underline #ffd700;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Start with no background color */
    backdrop-filter: blur(0px); /* Start with no blur */
    opacity: 0; /* Start invisible */
    pointer-events: none; /* Prevent clicks when invisible */
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease, opacity 0.5s ease; /* Smooth transition */
    z-index: 999;
}

.menu-content {
    position: fixed;
    top: 0;
    right: -50%; /* Start off-screen to the right */
    width: 40%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    transition: right 0.5s ease-in-out; /* Use right for sliding */
}

.menu-content button {
    font-size: 40px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    border: none;
}

body.menu-open .menu-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Darken background */
    backdrop-filter: blur(5px); /* Apply blur */
    opacity: 1; /* Make visible */
    pointer-events: auto; /* Allow clicks */
}

body.menu-open .menu-content {
    right: 0%; /* Move to the visible area on the right */
}

.menu-content-wrapper {
    margin-top: 100px;
}

/* Navigation Indicator */
.navigation-indicator {
    position: fixed;
    top: 50%;
    z-index: 1000;
    right: 2%;
    cursor: pointer;
}

.navigation-wrapper {
    width: 40px;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
}

.indicator {
    height: 40px;
    transition: 0.65s ease;
}

.indicator:hover {
    height: 65px;
}

.filled {
    fill: black;
    height: 65px;
}

/* Site Header Style */
.header {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    margin-top: 100px;
}

.header-title {
    display: flex;
    flex-direction: column;
}

#site-title {
    font-size: 120px;
    transform: translateX(60%); /* Start off-screen to the left */
    transition: transform 2.2s cubic-bezier(0.57, 0.12, 0, 1.04); /* Smooth transition */
    margin: 0;
    width: 100%;
}

#capital-animation {
    display: inline-block;
    background-image: linear-gradient(to top, gold 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 2s ease;
    -webkit-background-clip: text;
    color: transparent;
}

#capital-animation.fill {
    background-position: bottom;
}

#site-sub-title {
    position: relative;
    overflow: hidden;
    margin: 0;
    transform: translateX(2%);
    font-size: 25px;
    padding-left: 30px;
}

#bekzod-title {
    cursor: pointer;
}

#site-sub-title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform: translateX(0);
    transition: transform 9s ease;
}

#site-sub-title.reveal::after {
    transform: translateX(100%);
}

#bekzod-title a {
    padding: 2px 7px;
    color: gold;
}

/* Header images and slider */
#intro-content {
    display: flex;
    height: 900px;
    width: 100%;
    justify-content: right;
    margin-top: 100px;
}
#intro-video-container{
    width: 100%;
    z-index: 1;
    position: absolute;
}

/* Line */
.line-container {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.line-container svg {
    width: 100%;
    background-color: transparent;
}

.animated-path {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: draw 8s ease forwards; /* Changed from 3s to 8s */
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

/* Intro Section Text on top of video */
#intro-content-text {
    width: 100%;
    z-index: 1;
}

.intro-content-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.intro-content-title {
    font-size: 220px;
    margin: 0;
    line-height: 1.2;
    display: block;
    background-image: linear-gradient(to top, rgb(255, 255, 255) 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 3s ease;
    -webkit-background-clip: text;
    color: transparent;
}

.intro-content-title.fill {
    background-position: bottom;
}

#to-reality {
    display: inline-block;
    transition: transform 0.5s ease;
}

/* Middle Section */
#middle-section {
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.middle-section-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    opacity: 1;
    transform: translateY(2%);
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    align-items: center;
}

#middle-section-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: #4a4a4a;
    margin-right: 30px;
}

#middle-section-text p {
    width: 100%;
    height: 0; /* Initial height set to 0 */
    margin: 0; /* Initial margin set to 0 */
    font-size: 8em;
    visibility: hidden; /* Hide text initially */
    transition: 1.5s ease;
}
#middle-section-text p span:hover{
    color: black;
}
#middle-section-text span {
    visibility: visible; /* Reveal spans as they appear */
    display: inline-block;
    margin-right: 20px;
}

#middle-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 8em;
}

.middle-section-line {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.middle-section-line svg {
    width: 100%;
    background-color: transparent;
}

#animated-line {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
  }
  
  #animated-line.animate {
    animation: drawLine 12s ease forwards;
  }
  
  @keyframes drawLine {
    to {
      stroke-dashoffset: 0;
    }
  }
  

/* Portfolio */
.portfolio {
    position: relative;
    margin-top: 50px;
    overflow: auto; /* Adjusted overflow */
    height: 100vh;
    cursor: default;
    overflow: hidden; /* Ensure the overflow is hidden */
}

.construction-hat {
    position: absolute;
    top: 0%;
    left: 5%;
    background-color: transparent;
}

.construction-hat svg {
    width: 100%;
    background-color: transparent;
}

#animated-hat {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
  }
  
  #animated-hat.animate {
    animation: drawHat 10s ease forwards;
  }
  
  @keyframes drawHat {
    to {
      stroke-dashoffset: 0;
    }
  }

.portfolio-title {
    display: flex;
    justify-content: center;
    font-size: 140px;
    color: rgb(0, 0, 0);
}

.portfolio-title p {
    margin-bottom: 5vh;
    z-index: 2;
    text-decoration: underline gold;
}


@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#image-track {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    cursor: grab;
}

.image-track-wrapper {
    display: inline-block;
    animation: 100s slide infinite linear;
    animation-play-state: running;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 40vmin;
    height: 55vmin;
    margin: 0 40px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    backdrop-filter: blur(1px);
}

.image-container:hover::after {
    opacity: 1;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 100;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.image-container:hover .button {
    opacity: 1;
}

/* White overlay */

.white-overlay-return {
    z-index: 9999;
    position: fixed;
    top: 0;
    display: block;
    left: 0;
    width: 100%;
    height: 100vh; /* Starts covering the full height */
    background-color: gold;
    transition: transform 1s ease-in-out;
    transform: translateY(0); /* Start fully on screen as default */
}

.white-overlay-return.animate {
    transform: translateY(100vh); /* Slide down off the screen */
}


.white-overlay-leave {
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: white;
    transition: height 1s ease-in-out;
    z-index: 9999;
}

.white-overlay-leave.animate {
    height: 100vh;
}


/* Section 4 */

.team-image {
    position: relative;
    width: 100%;
    height: 100vmin;
    overflow: hidden;
    height: 30vh;
    position: relative;
}
.team-image img {
    width: 100%;
}
.image-text-overlay{
    width: 100%;
    display: flex;
    height: 30vh;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.image-text-overlay p {
    padding: 0px 50px;
    background-color: white;
    position: absolute;
    z-index: 999;
    color: black;
    font-size: 10em;
    -webkit-text-stroke: 2px black;
}

.team-section-text-wrapper {
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.service {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.service p {
    text-align: center;
    font-size: 1.5em;
}
.service-image img{
    width: 100%;
    object-fit: cover;
}


/* Section 5 */

.contact-section {
    position: relative;
}

.contact-title{
    font-size: 5em;
    display: flex;
    height: 25vh;
    align-items: center;
    justify-content: center;
}

/* Horizontal Line */
.horizontal-line-container{
    height: 100vh;
    display: flex;
    position: absolute; /* Make the container absolute */
    top: 0; /* Ensure it covers the full height */
    left: 0; /* Ensure it covers the full width */
    width: 100%; /* Full width */
    z-index: 1;
}

.horizontal-line {
    width: 0%; /* Start with zero width */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    background-color: black;
    transition: width 3s ease-in-out 2s; /* Animation duration, easing, and delay */
}

.section.active .horizontal-line {
    width: 100%; /* Full width when active */
    top: 25%;
}

/* Vertical Line */
.vertical-line-container {
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.vertical-line {
    height: 0%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    width: 4px;
    background-color: black;
    transition: height 3s ease-in-out 1s;
}

.section.active .vertical-line {
    height: 100%;
    left: 35%;
}

.contact-title {
    position: relative; /* Ensure these elements are above the line */
    z-index: 5; /* Higher z-index to appear above the line */
}

.map-container {
    display: flex;
    justify-content: flex-end;
    height: 0;
}

.contact-information {
    display: flex;
    width: 35%;
    height: 75vh;
    justify-content: center;
    flex-direction: column;
}

.contact-text {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    font-size: 3em;
}
.email {
    margin: 0;
}
.phone p {
    margin: 0 0 10% 0;

}

/* Contact Form */

.message {
    z-index: 99999;
    height: 100%;
}

#message {
    height: 20vh;
}

.contact-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1.6em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    padding: 30px;
    font-size: 55px;
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #ffc107;
}